@import "../vars.less";

.body {
    color: @black;
    background-color: @white;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}

.button {
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: @boxRadius;

    cursor: pointer;

    font-weight: 700;
    font-size: 16px;

    color: @white;
    background: @orange;

    &:hover {
        background: @orange2;
    }

    &.white {
        color: @black;
        background: @white;
        &:hover {
            color: @orange;
            box-shadow: @boxShadow;
        }
    }

    &.danger {
        background: @red;
        &:hover {
            background: @red2;
        }
    }
}

.menu {
    position: fixed;
    display: flex;
    justify-content: space-between;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 25px 30px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: @boxShadow;
    backdrop-filter: blur(15px);
    border-radius: 0px;

    .item {
        width: 30px;
        height: 30px;
        cursor: pointer; 

        &.house {
            background-image: url(/icons/houseInactive.svg)
        }

        &.message {
            background-image: url(/icons/message.svg)
        }

        &.bell {
            background-image: url(/icons/bell.svg)
        }

        &.user {
            background-image: url(/icons/user.svg)
        }
    }
}

.top-bar {
    position: fixed;
    display: flex;
    right: 0;
    top: 0;
    left: 0;
    justify-content: space-between;
    width: 100%;
    background: #F6F6F6;
    border-bottom: 1px solid #DEDCDC;
    padding: 15px;
    margin-bottom: 100px;

    .header {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        flex-grow: 1;
        padding: 9px;
        color: @black;
    }
    
    .button-back {
        width: 46px;
        height: 46px;
        background-color: 2px solid @white;
        border-radius: 100%;
        padding: 10px 14px 14px 14px;
        cursor: pointer;

        &:hover {
            box-shadow: @boxShadow;
        }
    }
}

.input {
    padding: 20px 0px 20px 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: @boxRadius;
    font-size: 16px;
    line-height: 20px;
    color: @darkGrey;
    background: @white;

    label {
        cursor: text;
        width: 100%;
    }

    input {
        width: 90%;
        border: none;
        outline: none;
    }
}